appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.2
Brotli==1.1.0
cachetools==4.2.4
cffi==1.16.0
click==8.1.7
commonmark==0.9.1
cssselect2==0.7.0
decorator==4.4.2
Django==4.2.8
django-unicorn==0.57.1
fonttools==4.47.0
html5lib==1.1
importlib-metadata==7.0.0
markdown2==2.4.12
markdown2pdf3==0.2.3
mdpdf==0.0.18
orjson==3.9.10
pdfgen==1.0.5
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
pyee==8.2.2
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pypandoc==1.12
PyPDF2==1.28.6
pyphen==0.14.0
shortuuid==1.0.11
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
syncasync==20180812
tinycss2==1.2.1
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==1.26.18
weasyprint==60.2
webencodings==0.5.1
websockets==9.1
whitenoise==6.6.0
zipp==3.17.0
zopfli==0.2.3
