{% load static %}
{% load unicorn %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title> Felps - Desenvolvedor Full Stack</title>
    {% unicorn_scripts %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col h-screen w-screen bg-[#2D1250] bg-matrix-pattern bg-repeat bg-contain">
    {% csrf_token %}
    {% block content %}{% endblock %}
</body>
</html>